<section
  class="mx-auto flex max-w-[1200px] flex-col-reverse items-center justify-between bg-[url('./assets/images/bg.svg')] bg-center bg-no-repeat p-[30px] text-white lg:flex-row lg:p-[50px]"
>
  <div class="space-y-4 md:w-1/2">
    <span
      class="inline-block rounded-full bg-white px-4 py-1 text-sm font-bold text-[#7c5fff]"
      >Meet our team</span
    >
    <h1 class="text-3xl leading-snug font-bold md:text-4xl">
      Dapatkan penawaran menarik<br />
      khusus untuk kamu
    </h1>
    <ul
      class="block space-y-1 rounded-md bg-[#f1f1f1] px-[15px] py-[10px] text-base text-[#444444] lg:flex"
    >
      <li>⭐ Demo aplikasi secara utuh bersama tim ahli</li>
      <li>⭐ Dukungan dari tim ahli secara menyeluruh</li>
    </ul>
    <button
      class="cursor-pointer rounded-full bg-yellow-400 px-6 py-3 font-semibold text-black hover:bg-yellow-300"
    >
      Hubungi kami!
    </button>
  </div>

  <!-- Kanan: Gambar -->
  <div class="mt-8 flex justify-center md:mt-0 md:w-1/2">
    <img
      ngSrc="assets/images/people.webp"
      alt="People"
      width="400"
      height="482"
      priority
    />
  </div>
</section>
