<section class="mx-auto max-w-[1200px] p-[20px] lg:px-[75px]" id="contact">
  <div
    class="mt-4 grid grid-cols-1 items-center gap-4 text-white lg:mt-8 lg:gap-8"
  >
    <div class="rounded-[20px] bg-[#735FF6] p-[30px] lg:p-[100px]">
      <div class="grid grid-cols-1 items-center gap-8 lg:grid-cols-[60%_40%]">
        <div>
          <h3 class="flex items-center gap-4 pb-2 text-[24px] font-semibold">
            Solusi digital untuk semua kebutuhan bisnis Anda
          </h3>
          <p class="pb-[20px]">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem iste
            voluptatibus ducimus enim facere consequatur cupiditate recusandae
            repudiandae minima cumque!
          </p>
          <p class="font-semibold">Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="grid gap-4">
          <input
            class="w-full rounded-full bg-white p-[20px] text-black placeholder:text-gray-500 placeholder:opacity-50"
            type="text"
            placeholder="Nama"
          />
          <input
            class="w-full rounded-full bg-white p-[20px] text-black placeholder:text-gray-500 placeholder:opacity-50"
            type="email"
            placeholder="Email"
          />
          <button
            class="cursor-pointer rounded-full bg-[#FEE952] p-[20px] text-black"
          >
            Contact Us
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
