<section class="mx-auto max-w-[1200px] px-[20px] lg:px-[75px]" id="project">
  <h2 class="my-[50px] text-center text-[32px] font-semibold text-[#474747]">
    Project Kolaborasi Kami Dengan <br />Berbagai Partner dan Klien
  </h2>
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8">
    <div class="rounded-[20px] bg-[#735FF5] p-[20px]">
      <div class="grid grid-cols-1 items-center gap-4 lg:grid-cols-[60%_40%]">
        <div class="text-white">
          <div class="flex gap-[10px]">
            <button
              class="mb-[20px] inline-block rounded-[20px] border-2 px-2 text-[12px]"
            >
              B2B
            </button>
            <button
              class="mb-[20px] inline-block rounded-[20px] border-2 px-2 text-[12px]"
            >
              Digital Marketing
            </button>
          </div>
          <h3 class="flex items-center gap-4 pb-2 text-[18px] font-semibold">
            PT Lorem Ipsum
          </h3>
          <p class="text-[14px]">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
            veritatis, nobis quam soluta nostrum vero minus voluptas?
          </p>
          <button
            class="mt-[20px] block cursor-pointer rounded-lg bg-white px-[30px] py-[10px] text-[12px] text-black"
          >
            Lihat Project
          </button>
        </div>
        <div>
          <img
            class="mx-auto w-[75%] lg:w-full"
            ngSrc="assets/images/people.webp"
            alt="People"
            width="400"
            height="482"
            priority
          />
        </div>
      </div>
    </div>

    <div class="rounded-[20px] bg-[#F87B5B] p-[20px]">
      <div class="grid grid-cols-1 items-center gap-4 lg:grid-cols-[60%_40%]">
        <div class="text-white">
          <div class="flex gap-[10px]">
            <button
              class="mb-[20px] inline-block rounded-[20px] border-2 px-2 text-[12px]"
            >
              B2B
            </button>
            <button
              class="mb-[20px] inline-block rounded-[20px] border-2 px-2 text-[12px]"
            >
              Digital Marketing
            </button>
          </div>
          <h3 class="flex items-center gap-4 pb-2 text-[18px] font-semibold">
            PT Lorem Ipsum
          </h3>
          <p class="text-[14px]">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
            veritatis, nobis quam soluta nostrum vero minus voluptas?
          </p>
          <button
            class="mt-[20px] block cursor-pointer rounded-lg bg-white px-[30px] py-[10px] text-[12px] text-black"
          >
            Lihat Project
          </button>
        </div>
        <div>
          <img
            class="mx-auto w-[75%] lg:w-full"
            ngSrc="assets/images/people.webp"
            alt="People"
            width="400"
            height="482"
            priority
          />
        </div>
      </div>
    </div>

    <div class="rounded-[20px] bg-[#5CB563] p-[20px]">
      <div class="grid grid-cols-1 items-center gap-4 lg:grid-cols-[60%_40%]">
        <div class="text-white">
          <div class="flex gap-[10px]">
            <button
              class="mb-[20px] inline-block rounded-[20px] border-2 px-2 text-[12px]"
            >
              B2B
            </button>
            <button
              class="mb-[20px] inline-block rounded-[20px] border-2 px-2 text-[12px]"
            >
              Digital Marketing
            </button>
          </div>
          <h3 class="flex items-center gap-4 pb-2 text-[18px] font-semibold">
            PT Lorem Ipsum
          </h3>
          <p class="text-[14px]">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
            veritatis, nobis quam soluta nostrum vero minus voluptas?
          </p>
          <button
            class="mt-[20px] block cursor-pointer rounded-lg bg-white px-[30px] py-[10px] text-[12px] text-black"
          >
            Lihat Project
          </button>
        </div>
        <div>
          <img
            class="mx-auto w-[75%] lg:w-full"
            ngSrc="assets/images/people.webp"
            alt="People"
            width="400"
            height="482"
            priority
          />
        </div>
      </div>
    </div>

    <div class="rounded-[20px] bg-[#A555B8] p-[20px]">
      <div class="grid grid-cols-1 items-center gap-4 lg:grid-cols-[60%_40%]">
        <div class="text-white">
          <div class="flex gap-[10px]">
            <button
              class="mb-[20px] inline-block rounded-[20px] border-2 px-2 text-[12px]"
            >
              B2B
            </button>
            <button
              class="mb-[20px] inline-block rounded-[20px] border-2 px-2 text-[12px]"
            >
              Digital Marketing
            </button>
          </div>
          <h3 class="flex items-center gap-4 pb-2 text-[18px] font-semibold">
            PT Lorem Ipsum
          </h3>
          <p class="text-[14px]">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
            veritatis, nobis quam soluta nostrum vero minus voluptas?
          </p>
          <button
            class="mt-[20px] block cursor-pointer rounded-lg bg-white px-[30px] py-[10px] text-[12px] text-black"
          >
            Lihat Project
          </button>
        </div>
        <div>
          <img
            class="mx-auto w-[75%] lg:w-full"
            ngSrc="assets/images/people.webp"
            alt="People"
            width="400"
            height="482"
            priority
          />
        </div>
      </div>
    </div>
  </div>
</section>
